<div *ngIf="isAuthorized()" class="col-md-12">
    <div class="card card-container">
  
      <form  (ngSubmit)="f.form.valid && onUpload()" enctype="multipart/form-data"
        *ngIf="!isSuccessful"
        name="form"
        #f="ngForm"
        validate
      >
        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
          <input name="image" required type="file" #fileDropRef id="image" multiple (change)="onFileChange($event)" 
            accept="image/png, image/jpeg, image/gif, image/jpg" />
          <h3>Drag and drop file here</h3>
        </div>
        <div *ngIf="image" class="mt-5" style="align-content : center">
          <h5 >Your photo:</h5>
          <div>
            <img class="image-thumbnail" style="max-width: 100px" [src]="addedImage">
          </div>
        </div>
  
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            minlength="3"
            maxlength="20"
            #name="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 3 characters
            </div>
            <div *ngIf="name.errors.maxlength">
              Name must be at most 20 characters
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="form.description"
            required
            #description="ngModel"
          >
          </textarea>
        </div>
        <div>
            <div class="alert-danger" *ngIf="f.submitted && description.invalid">
                <div *ngIf="description.errors.required">Description is required</div>
                <div *ngIf="description.errors.description">
                Desription must be a valid
                </div>
            </div>
        </div>
  
        <div class="form-group">
          <label for="theme">Theme</label>
          <select           
          type="text"
          class="form-control"
          name="theme"
          [(ngModel)]="form.theme"
          required
          #theme="ngModel">
            <option value="Books">Books</option>
            <option value="Alcohol">Alcohol</option>
            <option value="Marks">Marks</option>
          </select>
          <div class="alert-danger" *ngIf="f.submitted && theme.invalid">
            <div *ngIf="theme.errors.required">Theme is required</div>
            <div *ngIf="theme.errors.theme">
              Theme must be a valid
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <button class="btn btn-primary btn-block">Create</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
          Creation failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Successful!
      </div>
    </div>
  </div>
  