<div class="container">
  <header class="jumbotron">
  </header>
</div>

<h5>Users</h5>
<div>
  <form
  name="form"
  #f="ngForm"
  >
  <table class="table table-hover">
      <tr>
        <input type="checkbox">
        <td>name</td>
        <td>id</td>
        <td>blocked</td>
      </tr>  
      <tr *ngFor="let user of users;">
        <input name="userId" type="checkbox" [(ngModel)]="user.checked">
        <td>{{user.name}}</td>
        <td>{{user.id}}</td>
        <td>{{user.blocked}}</td>
        <td>{{user.checked}}</td>
      </tr>
      <button class="c" (click)="block()">
        Block
      </button>

      <button class="c" (click)="unblock()">
        Unblock
      </button>

      <button class="c" (click)="setRoleAdmin()">
        Set role admin
      </button>

      <button class="c" (click)="delete()">
        Delete
      </button>

  </table>
  </form>

