<div class="container">
  <header class="jumbotron">
  </header>
<div *ngIf="isAuthorized()">
  <a href="/user/{{userId}}/cc" class="c">Create collection</a>
</div>

  <h5>Collections</h5>
  <div>
    <table>
      <tr *ngFor="let bCollection of collections.bookCollections;">
        <img src={{bCollection.image.url}} alt="err">
        <td>
          {{bCollection.name}}
        </td>
        <a href="user/{{userId}}/{{bc}}/b/{{bCollection.id}}">Details</a>
      </tr>
    </table>
    <table>
      <tr *ngFor="let aCollection of collections.alcoholCollections;">
        <img src={{aCollection.image.url}} alt="err">
        <td>
          {{aCollection.name}}
        </td>
        <a href="user/{{userId}}/{{ac}}/a/{{aCollection.id}}">Details</a>
      </tr>
    </table>
  </div>
</div>