<div>
  <angular-tag-cloud
    [data]="cloudTags"
    [overflow]="false">
  </angular-tag-cloud>
</div>
<div class="container">
<h3 class="h3">The biggest collections</h3>
  <table class="table table-dark" *ngIf="bookCollection != null">
    <tr>
      <td>
        {{bookCollection.name}}
      </td>
      <td>
        {{bookCollection.theme}}
      </td>
      <td>
        <a href="/user/{{bookCollection.userId}}/bc/b/{{bookCollection.id}}">Details</a>
      </td>
    </tr>
  </table>
</div>
<div class="container" *ngIf="alcoholCollection != null">
<table class="table table-dark">
  <tr>
    <td>
      {{alcoholCollection.name}}
    </td>
    <td>
      {{alcoholCollection.theme}}
    </td>
    <td>
      <a href="/user/{{alcoholCollection.userId}}/ac/a/{{alcoholCollection.id}}">Details</a>
    </td>
  </tr>
</table>
</div>
<div class="container">
<h3 class="h3">The latest items</h3>
<table class="table table-dark">
<tr *ngIf="book != null">
<td>
  {{book.name}}
</td>
<td>
  <a href="user/{{book.userId}}/bc/b/{{book.collectionId}}/{{book.id}}">Details</a>
</td>
</tr>
<tr *ngIf="alcohol != null">
  <td>
    {{alcohol.name}}
  </td>
  <td>
    <a href="user/{{alcohol.userId}}/ac/a/{{alcohol.collectionId}}/{{alcohol.id}}">Details</a>
  </td>
</tr>
</table>
</div>